In [2]:
import sqlite3
import os

In [3]:
os.makedirs('data/database', exist_ok=True)

In [4]:
conn = sqlite3.connect('data/database/my_database.db')
cursor = conn.cursor()

In [5]:
# Example SQL commands to create a table and insert data
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    position TEXT NOT NULL,
    salary REAL NOT NULL
)''')

In [6]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Projects (
id INTEGER PRIMARY KEY,
name TEXT NOT NULL,
start_date TEXT NOT NULL,
end_date TEXT NOT NULL,
budget REAL NOT NULL
)''')

In [7]:
# Insert sample data into the employees table
cursor.executemany('''
    INSERT INTO employees (id, name, position, salary)
    VALUES (?, ?, ?, ?)
''', [
    (1, 'Alice Johnson', 'Software Engineer', 85000.00),
    (2, 'Bob Smith', 'Data Scientist', 95000.00),
    (3, 'Charlie Brown', 'Product Manager', 105000.00),
    (4, 'Diana Prince', 'UX Designer', 78000.00),
    (5, 'Ethan Hunt', 'DevOps Engineer', 92000.00)
])

# Commit the changes
conn.commit()

In [8]:
# Insert sample data into the Projects table
cursor.executemany('''
    INSERT INTO Projects (id, name, start_date, end_date, budget)
    VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'Project Apollo', '2025-01-01', '2025-06-30', 500000.00),
    (2, 'Project Zeus', '2025-02-15', '2025-08-15', 750000.00),
    (3, 'Project Athena', '2025-03-01', '2025-09-30', 600000.00),
    (4, 'Project Hermes', '2025-04-01', '2025-10-31', 450000.00),
    (5, 'Project Poseidon', '2025-05-01', '2025-11-30', 800000.00)
])

# Commit the changes
conn.commit()

In [11]:
conn.close()

## Database content extraction

In [18]:
from langchain_community.utilities import SQLDatabase
from langchain_community.documents_loader import SQLDatabaseloader

ModuleNotFoundError: No module named 'langchain_community.documents_loader'